@import "../../variabiles.scss";



.screen{
    width: calc(100% - #{$sidemenu-width});
    height: 100vh;

    .screen-header{  
        width: 100%;
        height: $screen-header-height;
        display: flex;  
        background-color: #1070CA;
        color: $text-white;
        justify-content: flex-end;
        padding-right: 10px;
        align-items: center;
        
    }

    .screen-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - #{$screen-header-height});
        color:  $text-black;
        background-color: $base-white;
             
    }
}