@import '../../../variabiles.scss';

.home-page{
    .jumbotron{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:$base-margin-plus;

        .title {
            margin-bottom: $base-margin;
        }

        .call-to-action {
            padding:$base-padding-plus;
            margin-bottom: $base-margin;
            text-align: justify;
        }
    }

    .home-carousel{
        width:700px;
    }
}