
$sidemenu-width: 350px;
$screen-header-height: 65px;


$base-white: white;
$base-light-grey: #efefef;

$text-white: white;
$text-light-gray: #efefef;
$text-black: #3a3a3a;

$base-border-radius: 5px;

/*PADDINGS*/
$padding-xsmall:5px;
$padding-small: 10px;
$padding-small-plus: 15px;
$base-padding: 20px;
$base-padding-plus:25px;


/*MARGINS*/
$margin-xsmall:5px;
$margin-small:10px;
$margin-small-plus:15px;
$base-margin:20px;
$base-margin-plus:25px;